.page-header
  %h2 Listing Seasons
%table.table.table-striped.table-hover
  %tr
    %th Years
    %th
    %th
  - @seasons.each do |season|
    %tr
      %td= season.years
      %td= link_to 'Show', season
      %td= link_to 'Edit', edit_season_path(season)
%br/
= link_to 'New Season', new_season_path
