<p id="notice"><%= notice %></p>

<h1><%= "#{@game.puck_drop.to_s(:pretty)} - #{@game.opponent}" %></h1>

<% if @game.preseason? %>
  <p>Preseason</p>
<% else %>
  <p>Regular Season</p>
<% end %>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
